/* all devices landscape */
.Container {
  /* wrapper container */
  width: 85%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
}

.Logo {
  width: 10vw;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 9vw;
  margin-top: 8vw;
  transition: var(--generic-transition);
  transform: scale(0);
  animation: display-logo 650ms linear forwards;
}

.Title {
  transform: scale(0);
  animation: display-title 700ms 500ms ease-out forwards;
}

.Subtitle {
  opacity: 0;
  animation: display-subtitle 750ms 1300ms ease-out forwards;
}

.Instructions {
  opacity: 0;
  animation: display-instructions 850ms 2200ms ease-out forwards;
}

/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container */
    height: 80%;
    width: 65%;
    margin-bottom: var(--large-margin-vh);
    overflow: visible;
  }

  .Logo {
    position: unset;
    margin: unset;
    width: 12vh;
  }

  .Subtitle,
  .Instructions {
    width: 80%;
  }
}
/* end all devices portrait */

/* animation keyframes */
@keyframes display-logo {
  0% {
    transform: scale(0) rotate3d(0deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.3) rotate3d(1, 1, 1, 360deg);
    opacity: 1;
  }
  80% {
    transform: scale(1) rotate3d(1, 1, 1, 360deg);
  }
  90% {
    transform: scale(1.15) rotate3d(1, 1, 1, 360deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes display-title {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.75);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes display-subtitle {
  0% {
    opacity: 1;
    transform: translateX(-150%);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes display-instructions {
  0% {
    opacity: 1;
    transform: translateX(150%) scale(1);
  }
  50% {
    transform: translateX(-10%);
  }
  60%,
  70% {
    transform: translateX(0) scale(1);
  }
  85% {
    transform: translateX(0) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
/* end animation keyframes */
