.Container {
  width: 90%;
}

.AnimateCode {
  animation: animate-code 245ms linear forwards;
}

@keyframes animate-code {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
