.GuideX {
  height: 100%;
  width: 0.5vw;
  border: 1px solid white;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  /* transition: all 3s ease-in-out; */
}

/* .GuideX.anchor-left {
  margin-left: unset;
  margin-right: auto;
} */

.GuideX.anchor-center {
  margin-left: auto;
  margin-right: auto;
}

.GuideX.anchor-right {
  margin-left: auto;
  /* margin-right: unset; */
}

.GuideY {
  height: 2vw;
  width: inherit;
  border: 1px solid red;
}

.GuideX.anchor-left {
  animation: animate-left 2.5s ease-out forwards;
}

.GuideX.anchor-right {
  animation: animate-right 2.5s ease-out forwards;
}

@keyframes animate-left {
  from {
    margin-left: 0;
    transform: translateX(-50%);
  }
  to {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes animate-right {
  from {
    margin-right: 0;
    transform: translateX(50%);
  }
  to {
    margin-right: 50%;
    transform: translateX(50%);
  }
}
