/* all devices landscape */
.Container {
  /* wrapper '*header*' container */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.Container.Open {
  /* wrapper '*header*' container when "isOpen" state is true */
  z-index: 100;
  pointer-events: all;
}

.Content {
  /* wrapper for Home icon, search bar, and children (links and sections) */
  height: 100%;
  overflow-y: scroll;
}
/* end all devices landscape */
