/* all devices landscape */
.Container {
  /* wrapper container */
  width: 100%;
  height: 100%;
}

.CmpDescContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 50%;
}

.CmpDescContent {
  font-weight: normal;
  margin: var(--small-margin-vw);
  width: 90%;
}

.CmpTestContainer {
  /* *'CmpTest*' wrapper */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.CmpTestContainer > * {
  /* everything inside *'CmpTest*' wrapper */
  margin: var(--large-margin-vh) var(--small-margin-vw);
}

.CmpTestContainer button {
  /* '*PhoneDial*' buttons and 'retry' '*Button*' */
  font-size: var(--font-size-vw);
  font-style: italic;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container */
    margin: 0 var(--generic-margin-vh);
    flex-direction: column;
  }

  .CmpDescContainer {
    width: 95%;
  }

  .CmpDescContent {
    margin: var(--small-margin-vh);
    width: 95%;
  }

  .CmpTestContainer {
    /* *'CmpTest*' wrapper */
    width: 95%;
    height: 40%;
  }

  .CmpTestContainer > * {
    /* everything inside *'CmpTest*' wrapper */
    margin: 0;
  }

  .CmpTestContainer button {
    /* '*PhoneDial*' buttons and 'retry' '*Button*' */
    font-size: var(--font-size-vh);
  }
}
/* end all devices portrait */
