/* all devices landscape */
.Container {
  /* wrapper container '*figure*' */
  display: flex;
  flex-direction: column;
  margin: 0;
  transition: var(--generic-transition);
}

.Container[disabled] {
  filter: var(--disabled-filter);
}

.LivesContainer {
  /* 'lives' container '*div*' */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3.5vw;
  margin-top: var(--small-margin-vw);
}

.Life {
  /* 'life' '*img*' */
  transition: var(--generic-transition);
  width: 3vw;
  opacity: 0.9;
}

.Life[disabled] {
  transform: scale(0.8);
  filter: var(--disabled-filter);
}

.LivesLeftText {
  /* '*Text*' when `livesLeft` > 3 */
  margin: unset;
}

.AnimateLifeLost {
  /* className added by `animateLifeLostCN` */
  animation: animate-life-lost 345ms linear forwards;
}

.AnimateThreeOrMoreLives {
  /* className added by "getHeartBeatCN" helper function on `livesLeft` > 3 */
  animation: animate-heart-beat 3000ms 1500ms linear infinite;
}

.AnimateLastTwoLives {
  /* className added by "getHeartBeatCN" helper function on `livesLeft` === 2 */
  animation: animate-heart-beat 1500ms 500ms linear infinite;
}

.AnimateLastLife {
  /* className added by "getHeartBeatCN" helper function on `livesLeft` === 1 */
  animation: animate-heart-beat 500ms linear infinite;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .LivesContainer {
    /* 'lives' container '*div*' */
    height: 3.5vh;
    margin-top: var(--small-margin-vh);
  }

  .Life {
    /* 'life' '*img*' */
    width: 3vh;
  }
}
/* end all devices portrait */

/* animation keyframes */
@keyframes animate-life-lost {
  0%,
  100% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  30% {
    transform: scale(1.1);
    filter: hue-rotate(200deg);
  }
}

@keyframes animate-heart-beat {
  0%,
  20%,
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
  10% {
    transform: scale(1.05);
    filter: brightness(110%);
  }
  30% {
    transform: scale(0.95);
    filter: brightness(90%);
  }
}
/* end animation keyframes */
