.Container {
  display: flex;
  flex-direction: column;
  transition: var(--generic-transition);
}

.Container[disabled] {
  filter: var(--disabled-filter);
}

.LivesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3.5vw;
  margin-top: var(--small-margin-vw);
  overflow: visible;
}

.Life {
  transition: var(--generic-transition);
  width: 3vw;
  opacity: 0.9;
}

.Life[disabled] {
  transform: scale(0.8);
  filter: var(--disabled-filter);
}

.LivesLeftText {
  margin: unset;
}

.AnimateLifeLost {
  animation: animate-life-lost 345ms linear forwards;
}

.AnimateThreeOrMoreLives {
  animation: animate-heart-beat 3000ms 1500ms linear infinite;
}

.AnimateLastTwoLives {
  animation: animate-heart-beat 2000ms 500ms linear infinite;
}

.AnimateLastLife {
  animation: animate-heart-beat 500ms linear infinite;
}

@keyframes animate-life-lost {
  0%,
  100% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  30% {
    transform: scale(1.1);
    filter: hue-rotate(200deg);
  }
}

@keyframes animate-heart-beat {
  0%,
  20%,
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
  10% {
    transform: scale(1.05);
    filter: brightness(110%);
  }
  30% {
    transform: scale(0.95);
    filter: brightness(90%);
  }
}
