/* all devices landscape */
.Container {
  /* wrapper container */
  position: relative;
  min-width: 8vw;
}

.Input {
  /* InputStyled's container '*div*' */
  max-width: 100%;
  min-width: 100%;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container */
    min-width: 8vh;
  }
}
/* end all devices portrait */
