/* all devices landscape */
.NumPadAndStats {
  /* wrapper container '*div*' for '*CodeRush.NumPad*' and '*CodeRush.Stats*' */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .NumPadAndStats {
    /* wrapper container '*div*' for '*CodeRush.NumPad*' and '*CodeRush.Stats*' */
    flex-direction: column;
    width: 80%;
  }
}
/* end all devices portrait */
