/* all devices landscape */
.Button {
  /* '*Button*' */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* classNames added by `type` */
.Button.top,
.Button.bottom {
  flex-direction: column;
}

.Button.right,
.Button.left {
  flex-direction: row;
}

.Spinner, /* '*Spinner*' */
.Spinner.left {
  margin-right: var(--generic-margin-vw);
}

.Spinner.top {
  margin-right: unset;
  margin-bottom: var(--generic-margin-vw);
}

.Spinner.right {
  margin-right: unset;
  margin-left: var(--generic-margin-vw);
  order: 1;
}

.Spinner.bottom {
  margin-right: unset;
  margin-top: var(--generic-margin-vw);
  order: 1;
}
/* end classNames added by `type` */
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  /* classNames added by `type` */
  .Spinner, /* Spinner */
  .Spinner.left {
    margin-right: var(--generic-margin-vh);
  }

  .Spinner.top {
    margin-bottom: var(--generic-margin-vh);
  }

  .Spinner.right {
    margin-left: var(--generic-margin-vh);
  }

  .Spinner.bottom {
    margin-top: var(--generic-margin-vh);
  }
  /* end classNames added by `type` */
}
/* end all devices portrait */
