/* all devices lanscape */
.Container {
  /* wrapper container '*div*'. Its dimensions are used by guides */
  position: fixed; /* cover all screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* hide paper pieces flowing off screen */
  pointer-events: none; /* do not block taps */
}

.RelativeWrapper {
  /* wrapper '*div*' functioning as parent of 'x' and 'y' guides */
  position: relative; /* guides need a relative parent to translate */
  width: inherit; /* match its dimensions to the ones in '*Container*' */
  height: inherit;
}
/* end all devices lanscape */
