/* all devices landscape */
.Container {
  /* wrapper for 'toggler' UI */
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  cursor: pointer;
  z-index: 20;
  pointer-events: all;
}

.Toggler {
  /* main 'toggler' '*div*', the center dot */
  position: relative;
  width: 0.7vw;
  height: 0.7vw;
  margin: 60% 45%;
  background-color: var(--secondary-3);
  border-radius: var(--border-radius-vw);
  transition: var(--generic-transition);
  animation: animate-center-dot 5000ms 2500ms linear infinite;
}

.Toggler::before {
  /* toggler '*div*' upper dot */
  top: -170%;
  left: 0;
  right: 0;
  animation: animate-top-dot 5000ms 2500ms linear infinite;
}

.Toggler::after {
  /* toggler '*div*' lower dot */
  top: 170%;
  animation: animate-bottom-dot 5000ms 2500ms linear infinite;
}

.Toggler::after,
.Toggler::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: inherit;
  background-color: inherit;
}

.Toggler.Active {
  /* 'toggler' '*div*' (all 3 dots) when `isActive` is true */
  background-color: var(--primary-0);
  transform: scale(1.3);
}

.Toggler.Active,
.Toggler.Active::after,
.Toggler.Active::before,
.Toggler:not(.Animate),
.Toggler:not(.Animate)::after,
.Toggler:not(.Animate)::before {
  animation: none;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper for 'toggler' UI */
    width: 10%;
  }

  .Toggler {
    /* main toggler '*div*', the center dot */
    width: 0.7vh;
    height: 0.7vh;
    border-radius: var(--border-radius-vh);
  }
}
/* end all devices portrait */

/* animation keyframes */
@keyframes animate-top-dot {
  0%,
  10%,
  100% {
    /* transform: scale(1); */
    background-color: var(--secondary-2);
  }
  5% {
    /* transform: scale(1.5); */
    background-color: var(--primary-0);
  }
}

@keyframes animate-center-dot {
  0%,
  10%,
  100% {
    transform: scale(1);
    background-color: var(--secondary-2);
  }
  5% {
    transform: scale(1.3);
    background-color: var(--secondary-0);
  }
}

@keyframes animate-bottom-dot {
  0%,
  10%,
  100% {
    /* transform: scale(1); */
    background-color: var(--secondary-2);
  }
  5% {
    /* transform: scale(1.5); */
    background-color: var(--secondary-1);
  }
}
/* end animation keyframes */
