/* all devices landscape */
.Icon {
  /* '*ExpandableIcon*' container */
  transition: all 250ms ease-in;
  z-index: 1;
}

.Icon.Open {
  /* '*ExpandableIcon*' container when `open` is true */
  transform: rotate(-180deg) scale(1.2);
}
/* end animation keyframes */
