/* all devices landscape */
.Container {
  /* wrapper container '*div*' */
  position: relative;
  width: 5vw;
  height: 0;
  padding-bottom: 5vw;
  transition: var(--generic-transition);
}

.Container[disabled] {
  filter: var(--disabled-filter);
  pointer-events: none;
}

.Dot {
  /* 'main dots' (big ones). Container '*div*'s */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  border-radius: 50%;
  background-color: var(--primary-0);
  margin: auto;
}

.Dot::before,
.Dot::after {
  /* 'secondary dots' (small ones). */
  position: absolute;
  content: "";
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: inherit;
}

.Dot:nth-child(1) {
  /* top 'main dot' */
  bottom: unset;
  animation: flicker-main-dot 2.4s 0s ease-in-out infinite;
}

.Dot:nth-child(1)::before {
  /* second top 'secondary dot' */
  top: 50%;
  left: 130%;
  animation: flicker-secondary-dot 2.4s 0.1s linear infinite;
}

.Dot:nth-child(1)::after {
  /* first top 'secondary dot' */
  top: 110%;
  left: 200%;
  animation: flicker-secondary-dot 2.4s 0.2s linear infinite;
}

.Dot:nth-child(2) {
  /* right 'main dot' */
  left: unset;
  animation: flicker-main-dot 2.4s 0.3s ease-in-out infinite;
}

.Dot:nth-child(2)::before {
  /* first right 'secondary dot' */
  top: 130%;
  right: 50%;
  animation: flicker-secondary-dot 2.4s 0.4s linear infinite;
}

.Dot:nth-child(2)::after {
  /* second right 'secondary dot' */
  top: 200%;
  right: 110%;
  animation: flicker-secondary-dot 2.4s 0.5s linear infinite;
}

.Dot:nth-child(3) {
  /* bottom 'main dot' */
  top: unset;
  animation: flicker-main-dot 2.4s 0.6s ease-in-out infinite;
}

.Dot:nth-child(3)::before {
  /* first bottom 'secondary dot' */
  top: 0;
  right: 130%;
  animation: flicker-secondary-dot 2.4s 0.7s linear infinite;
}

.Dot:nth-child(3)::after {
  /* second bottom 'secondary dot' */
  top: -70%;
  right: 200%;
  animation: flicker-secondary-dot 2.4s 0.8s linear infinite;
}

.Dot:nth-child(4) {
  /* left 'main dot' */
  right: unset;
  animation: flicker-main-dot 2.4s 0.9s ease-in-out infinite;
}

.Dot:nth-child(4)::before {
  /* first left 'secondary dot' */
  bottom: 130%;
  left: 40%;
  animation: flicker-secondary-dot 2.4s 1s linear infinite;
}

.Dot:nth-child(4)::after {
  /* second left 'secondary dot' */
  bottom: 190%;
  left: 110%;
  animation: flicker-secondary-dot 2.4s 1.1s linear infinite;
}

/* classNames added by `size` */
.Container.xxs {
  width: 2vw;
  padding-bottom: 2vw;
}

.Container.xs {
  width: 3vw;
  padding-bottom: 3vw;
}

.Container.sm {
  width: 4.5vw;
  padding-bottom: 4.5vw;
}

.Container.md {
  width: 6vw;
  padding-bottom: 6vw;
}

.Container.lg {
  width: 7.5vw;
  padding-bottom: 7.5vw;
}

.Container.xl {
  width: 10vw;
  padding-bottom: 10vw;
}

.Container.xxl {
  width: 15vw;
  padding-bottom: 15vw;
}
/* end classNames added by `size` */

/* classNames added by `type` */
.Dot.primary-0,
.Dot.primary {
  background-color: var(--primary-0);
}

.Dot.primary-1 {
  background-color: var(--primary-1);
}

.Dot.primary-2 {
  background-color: var(--primary-2);
}

.Dot.primary-3 {
  background-color: var(--primary-3);
}

.Dot.secondary-0,
.Dot.secondary {
  background-color: var(--secondary-0);
}

.Dot.secondary-1 {
  background-color: var(--secondary-1);
}

.Dot.secondary-2 {
  background-color: var(--secondary-2);
}

.Dot.secondary-3 {
  background-color: var(--secondary-3);
}

.Dot.danger-0,
.Dot.danger {
  background-color: var(--danger-0);
}

.Dot.danger-1 {
  background-color: var(--danger-1);
}

.Dot.danger-2 {
  background-color: var(--danger-2);
}

.Dot.danger-3 {
  background-color: var(--danger-3);
}
/* end classNames added by `type` */
/* all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    width: 5vh;
    padding-bottom: 5vh;
  }

  .Container.xxs {
    width: 2vh;
    padding-bottom: 2vh;
  }

  .Container.xs {
    width: 3vh;
    padding-bottom: 3vh;
  }

  .Container.sm {
    width: 4.5vh;
    padding-bottom: 4.5vh;
  }

  .Container.md {
    width: 6vh;
    padding-bottom: 6vh;
  }

  .Container.lg {
    width: 7.5vh;
    padding-bottom: 7.5vh;
  }

  .Container.xl {
    width: 10vh;
    padding-bottom: 10vh;
  }

  .Container.xxl {
    width: 15vh;
    padding-bottom: 15vh;
  }
}
/* all devices portrait */

/* animation keyframes */
@keyframes flicker-main-dot {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flicker-secondary-dot {
  0%,
  21%,
  41%,
  61%,
  100% {
    opacity: 0;
  }
  20%,
  40%,
  60% {
    opacity: 1;
  }
}
/* end animation keyframes */
