/* all devices landscape */
.Container {
  /* wrapper container '*div*' */
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  align-items: center;
  gap: var(--generic-margin-vw) 0;
  overflow: visible;
}

.Mode {
  /* 'mode' '*CodeRush.Counter*' `className.container` */
  transition: var(--generic-transition);
  cursor: pointer;
}

.Mode:hover:not([disabled]),
.Mode:active:not([disabled]) {
  transform: scale(1.05);
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container '*div*' */
    margin: var(--generic-margin-vh) 0;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 0;
  }

  .Level {
    /* 'level' '*CodeRush.Counter*' `className.container`. Places it first */
    grid-row: 1;
    grid-column: 1;
  }
}
/* end all devices portrait */
