/* all devices landscape */
.Container {
  /* wrapper container '*div*' */
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  align-items: center;
  overflow: visible;
}

.Mode {
  /* 'mode' '*CodeRush.Counter*' `className.container` */
  transition: var(--generic-transition);
  cursor: pointer;
}

.Mode:hover:not([disabled]),
.Mode:active:not([disabled]) {
  transform: scale(1.05);
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container '*div*' */
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    overflow: visible;
    border: 1px solid gray;
  }
}
/* end all devices portrait */
