.Container {
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  align-items: center;
  border: 1px solid white;
  overflow: visible;
}

.Mode {
  transition: var(--generic-transition);
  cursor: pointer;
}

.Mode:hover:not([disabled]),
.Mode:active:not([disabled]) {
  transform: scale(1.05);
}
