/* all devices landscape */
.Button {
  /* '*Button.WithProgress*' inner '*Button*' */
  width: 75%;
  display: flex;
  justify-content: center;
  padding: var(--generic-padding-vw) var(--small-padding-vw);
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Button {
    width: 65%;
    padding: var(--generic-padding-vh) var(--small-padding-vh);
  }
}
/* end all devices portrait */
