/* all devices landscape */
.Button {
  /* '*Button.WithProgress*' inner '*Button*' */
  width: 75%;
  display: flex;
  justify-content: center;
}
/* end all devices landscape */

@media screen and (orientation: portrait) {
  .Button {
    width: 65%;
  }
}
