/* classNames added by `mount` */
.animate-mount-left {
  animation: animate-left-to-center 260ms ease-in forwards;
}

.animate-mount-right {
  animation: animate-center-to-right 260ms ease-in reverse;
}

.animate-mount-top {
  animation: animate-top-to-center 260ms ease-in forwards;
}

.animate-mount-bottom {
  animation: animate-center-to-bottom 260ms ease-in reverse;
}

.animate-mount-shrink {
  animation: animate-scale-large-to-normal 260ms ease-in forwards;
}

.animate-mount-grow {
  animation: animate-scale-normal-to-small 260ms ease-in reverse;
}
/* end classNames added by `mount` */

/* classNames added by `unmount` */
.animate-unmount-left {
  animation: animate-left-to-center 260ms ease-out reverse;
}

.animate-unmount-right {
  animation: animate-center-to-right 260ms ease-out forwards;
}

.animate-unmount-top {
  animation: animate-top-to-center 260ms ease-out reverse;
}

.animate-unmount-bottom {
  animation: animate-center-to-bottom 260ms ease-out forwards;
}

.animate-unmount-shrink {
  animation: animate-scale-normal-to-small 260ms ease-out forwards;
}

.animate-unmount-grow {
  animation: animate-scale-large-to-normal 260ms ease-out reverse;
}
/* end classNames added by `unmount` */

/* classNames added by `scale` */
.animate-idle-scale {
  animation: animate-idle-scale-oscillate 1500ms linear infinite;
}

.animate-idle-fade {
  animation: animate-idle-fade-oscillate 1500ms linear infinite;
}

.animate-idle-scale-fade {
  animation: animate-idle-scale-fade-oscillate 1500ms linear infinite;
}
/* end classNames added by `unmount` */

/* animation keyframes */
@keyframes animate-left-to-center {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate-top-to-center {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-scale-large-to-normal {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-center-to-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

@keyframes animate-center-to-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(150%);
    opacity: 0;
  }
}

@keyframes animate-scale-normal-to-small {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
    opacity: 0;
  }
}

@keyframes animate-idle-scale-oscillate {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

@keyframes animate-idle-fade-oscillate {
  0%,
  50%,
  100% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.8;
    filter: brightness(90%);
  }
  75% {
    opacity: 1;
    filter: brightness(120%);
  }
}

@keyframes animate-idle-scale-fade-oscillate {
  0%,
  50%,
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
  25% {
    opacity: 0.8;
    filter: brightness(90%);
    transform: scale(0.9);
  }
  75% {
    opacity: 1;
    filter: brightness(120%);
    transform: scale(1.1);
  }
}
/* end animation keyframes */
