.Container {
  position: absolute;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 4%;
  right: 2%;
}

.top-left {
  top: 4%;
  left: 2%;
}

.right {
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 4%;
  right: 2%;
}

.bottom-left {
  bottom: 4%;
  left: 2%;
}

.left {
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}
