/* all devices landscape */
.Container {
  /* wrapper container */
  width: 100%;
  height: 100%;
}

.CmpDescContainer,
.CmpDescTitle {
  margin: 0;
}

.CmpDescDescription {
  font-weight: normal;
  margin: var(--small-margin-vw);
}

.CmpTest {
  width: 65%;
  margin: 0 var(--small-margin-vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container */
    margin: 0 var(--generic-margin-vh);
    flex-direction: column;
  }

  .CmpDescContainer {
    width: 100%;
    margin: var(--small-margin-vh) var(--small-margin-vw) 0
      var(--small-margin-vw);
  }

  .CmpDescTitle {
    margin-top: var(--small-margin-vh);
  }

  .CmpDescDescription {
    font-size: var(--small-font-size-vh);
    margin: var(--small-margin-vh) var(--generic-margin-vh);
  }

  .CmpTest {
    /* *'CmpTest*' wrapper */
    width: 95%;
    height: 60%;
    margin-bottom: var(--generic-margin-vh);
  }
}

/* end all devices portrait */
