/* all devices landscape */
.Container {
  /* wrapper container */
  width: 100%;
  height: 100%;
}

.CmpTest {
  /* *'CmpTest*' wrapper */
  width: 70%;
  margin: 0 var(--small-margin-vw);
  /* height: 90%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container */
    margin: 0 var(--generic-margin-vh);
    flex-direction: column;
  }

  .CmpTest {
    /* *'CmpTest*' wrapper */
    width: 95%;
    height: 40%;
  }
}

/* end all devices portrait */
