/* all devices landscape */
.Container {
  /* wrapper container */
  position: sticky;
  top: 0;
  right: 1vw;
  width: 40%;
  margin-left: auto;
  border-radius: var(--border-radius-large-vw);
  background: var(--translucent-background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--small-padding-vw);
  z-index: 20;
}

.Input {
  /* '*Input*', the search bar */
  width: 70%;
  margin: var(--generic-margin-vw);
}

.Icon {
  /* 'search' icon '*img*' */
  width: 8%;
  padding-top: var(--small-margin-vw);
  transition: var(--generic-transition);
}

.Icon.Animate {
  /* 'clear' icon (that is, when "isInputEmpty" is false") */
  cursor: pointer;
  animation: animate-close-icon 5s 5s linear infinite;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    /* wrapper container */
    width: 70%;
    border-radius: var(--border-radius-large-vh);
    padding: var(--small-padding-vh);
  }

  .Input {
    /* '*Input*', the search bar */
    margin: var(--generic-margin-vh);
  }

  .Icon {
    /* 'search' icon '*img*' */
    width: 9%;
    padding-top: var(--small-margin-vh);
  }
}
/* end all devices portrait */

/* animation keyframes */
@keyframes animate-close-icon {
  0%,
  10%,
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
  5%,
  15% {
    transform: scale(1.15);
    filter: brightness(120%);
  }
}
/* end animation keyframes */
