/* all devices portrait */
.Container {
  /* container '*div*' (confetti paper piece) */
  width: inherit; /* inherited from '*ConfettiGuideY*' container */
  height: inherit; /* inherited from '*ConfettiGuideX*' container */
  border-radius: var(--border-radius-vw);
  transform: rotate(0deg);
  background-color: #fff; /* fail-safe background color */
}
/* end all devices portrait */

/* classNames added by `rotateSpeed` and `rotateOrientation` */
.rotate-speed-slowest.rotate-orientation-forwards {
  animation: rotate-forwards 2.5s linear infinite;
}

.rotate-speed-slowest.rotate-orientation-reverse {
  animation: rotate-reverse 2.5s linear infinite;
}

.rotate-speed-slow.rotate-orientation-forwards {
  animation: rotate-forwards 2s linear infinite;
}

.rotate-speed-slow.rotate-orientation-reverse {
  animation: rotate-reverse 2s linear infinite;
}

.rotate-speed-medium.rotate-orientation-forwards {
  animation: rotate-forwards 1.5s linear infinite;
}

.rotate-speed-medium.rotate-orientation-reverse {
  animation: rotate-reverse 1.5s linear infinite;
}

.rotate-speed-fast.rotate-orientation-forwards {
  animation: rotate-forwards 1s linear infinite;
}

.rotate-speed-fast.rotate-orientation-reverse {
  animation: rotate-reverse 1s linear infinite;
}

.rotate-speed-fastest.rotate-orientation-forwards {
  animation: rotate-forwards 0.5s linear infinite;
}

.rotate-speed-fastest.rotate-orientation-reverse {
  animation: rotate-reverse 0.5s linear infinite;
}
/* end classNames added by `rotateSpeed` and `rotateOrientation` */

/* animation keyframes */
@keyframes rotate-forwards {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
/* end animation keyframes */
