/* all devices landscape */
.CodeIconContainer {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1vw 1vw 0 0;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .CodeIconContainer {
    margin: 1vh 1vh 0 0;
  }
}
/* end all devices portrait */
