.top,
.right,
.bottom,
.left,
.center {
  position: absolute;
}

.left {
}

.top {
  top: 0;
}

.right {
  /* left: unset; */
  /* right: 0; */
  right: 100%;
  transform-origin: right;
}

.bottom {
  top: unset;
  bottom: 0;
}

.left {
  left: 0;
  top: 50%;
  /* width: 90vh; */
  border: 1px solid white;
  word-break: break-all;
  /* left: 100%; */
  /* transform-origin: left top; */
}

.center {
  margin: auto;
}
