/* all devices landscape */
.CmpTest {
  /* wrapper for component test area */
  width: 80%;
  height: 40%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 6fr 2fr;
}

.Heart {
  /* static className for heart image */
  width: 45%;
  cursor: pointer;
  opacity: 0.5;
}

.Heartbeat {
  /* dynamic className, toggled by "renderHeartCN" */
  animation: heartbeat 1.25s 2 linear forwards;
}

.GrowText {
  /* dynamic className, toggled by "renderTextCN" */
  animation: growText 200ms linear forwards;
}
/* end all devices landscape */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .CmpTest {
    /* wrapper for component test area */
    height: 50%;
    grid-template-rows: 1fr, 4fr;
    grid-template-columns: 1fr;
  }

  .Heart {
    /* static className for heart image */
    width: 25%;
    align-self: flex-start;
  }
}
/* end all devices portrait */

/* animation keyframes  */
@keyframes growText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  15% {
    opacity: 1;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  65% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
/* end animation keyframes  */
