.App {
  width: 100vw;
  height: 100vh;
  color: var(--primary-0);
  font-size: var(--font-size-vw);
  text-align: center;
  background-color: var(--generic-background);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media screen and (orientation: portrait) {
  .App {
    font-size: var(--font-size-vh);
    flex-direction: column;
  }
}
